##
## Copy this file to .env and configure with your information.  This file is used by
## phpunit for running tests, so otherwise it is not useful.
##

## AWS Credential Information
##
## If not supplied, the AWS PHP Sdk will attempt to resolve a valid key id and access key
## based on the following:
## https://docs.aws.amazon.com/en_us/aws-sdk-php/guide/latest/guide/credentials.html
##
#AWS_ACCESS_KEY_ID=
#AWS_SECRET_ACCESS_KEY= 

##
## The Log Group name to use in testing.  Needs to exist.
##
AWS_CW_LOG_GROUPNAME=/my/log/group/name
